body{
    margin: auto;
}

.grid{
    width: 400px;
    height: 600px;
    background-image: url('background.png');
    position: relative;
    font-size: 200px;
    text-align: center;
}

.doodler{
    width: 87px;
    height: 85px;
    background-image: url('doodler-guy.png');
    position: absolute; 
}

.platform{
    width: 85px;
    height: 15px;
    background-image: url('platform.png');
    position:absolute;
}
.start-new-btn:before{
    font-family: Chalkduster, fantasy;
    content:"Retry"; 
    background-color: green;
    border: 0px;
    padding: 16px 32px;
    position: center;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.start-new-btn:active {
    opacity: 0.7;
    transition: 0.1s;
    transform: translateY(3px);
  }
